<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= render partial: 'comments/form', locals: { commentable: @post } %>
<%= render partial: 'comments/comments', locals: { commentable: @post } %>

<%= link_to 'Back', posts_path %>
